@use '/public/styles/variables' as *;

.filterBar {
  min-height: 5rem;
  width: 100%;
  background: #FFF;
  position: relative;
  top: -2rem;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0px -1px 20px 0px $dark-cyan;
  justify-content: space-between;
  border-radius: 8px;

  .filterItems {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    .item {
      display: flex;
      gap: 0.5rem;
      font-size: 15px;
      font-weight: 700;
      color: $primary-color;
      background: $background-color;
      border-radius: 8px;
      align-items: center;

      .filter {
        padding: 0.5rem;
      }

      .removeFilter {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 1rem;
        cursor: pointer;
        background-color: $primary-color;
        color: #FFF;

        &:hover {
          color: #FFF;
          background: #000;
        }
      }
    }
  }

  .clearFilters {
    color: $dark-cyan;
    cursor: pointer;
    font-weight: 700;

    &:hover {
      color: $primary-color;
      border-bottom: 1px solid $primary-color;
    }
  }
}

@media (max-width: 768px) {
  .filterBar {
    padding: 2rem;
  }
}